@media (max-width: 36em) {
  .container {
    width: 91.6%;
  }

  p {
    font-size: 1.6rem;
  }

  .password-display,
  .password-placeholder {
    font-size: 2.4rem;
  }

  .password-field {
    height: 100px;
    margin-bottom: 1.6rem;
  }

  .hdt-grid {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0.5rem;
  }

  #title-header {
    grid-column: span 2;
    display: inline;
  }

  #title-char-pool {
    display: inline;
  }

  #title-divider, #title-tail {
    grid-column: span 3;
  }
  
  .block-label p {
    text-align: center;
    margin-top: 1rem;
  }

  .char-count {
    font-size: 2.8rem;
  }

  .strength-entropy-box {
    flex-direction: column;
    padding: 0 2.4rem;
    margin: 0;
  }

  .strength-box, .entropy-box {
    height: 5rem;

    justify-content: space-between;
  }

  .entropy-box {
    margin: 0;
  }

  .entropy-text, .strength-rating-text {
    font-size: 2.4rem;
  }

  .leetify-settings {
    padding: 2.4rem 2.4rem 1rem 2.4rem;
  }

  #leetrules {
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
  }
}

/* @media (max-width: 27em) {
  .password-settings {
    padding: 2.4rem 1.6rem 3.2rem;
  }
  
  .strength-rating-text {
    font-size: 1.6rem;
  }
} */

@media (max-width: 40em) {
  body, main, .container {
    width: 100%;
  }

  h1 {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
  }

  .password-settings {
    padding: 1.6rem
  }

  .char-length {
    margin-bottom: 1.6rem;
  }

  .char-length-slider {
    height: 8px;
    margin-bottom: 4.2rem;
  }

  .char-count {
    font-size: 2.4rem;
  }

  .char-include-group {
    gap: 1.6rem;
    margin-bottom: 3.2rem;
  }

  .strength-label, .entropy-label {
    font-size: 1.8rem;
  }

  .generate-btn, #leetrule-add {
    padding: 1.5rem 0;
    font-size: 1.6rem;
  }
}