:root {
  --trickyScale: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 0.9vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  

  font-family: 'JetBrainsMono';
  height: 100vh;
  background: linear-gradient(180deg, #14131B 0%, #08070B 100%);
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url(../assets/fonts/static/JetBrainsMono-Bold.ttf) format('truetype');
}

main {
  flex-grow: 1;
  width: 64rem;
  display: flex;
  align-items: center;
}

.container {
  margin: 0 auto;
  width: 100%;
}

h1 {
  font-size: 2.4rem;
  text-align: center;
  color: hsl(251, 9%, 53%);
  
  margin-bottom: 3.2rem;
}

p {
  font-size: 1.8rem;
  color: hsl(252, 11%, 91%);
}

/********************************************/
/*PASSWORD FIELD*/
/********************************************/
.password-field {
  height: 14rem;
  padding: 0 3.2rem;
  margin-bottom: 2.4rem;
  background-color: hsl(248, 10%, 15%);
  position: relative;
  display: table;
  width: 100%;
}

.password-display {
  font-size: 3.2rem;
  color: hsl(252, 11%, 91%);
  vertical-align: middle;
  display: table-cell;
  word-break: break-all;
}

.password-placeholder {
  font-size: 3.2rem;
  color: hsl(252, 11%, 91%);
  opacity: 0.25;
}

.copy-wrapper {
  position: absolute;
  bottom: 1.6rem;
  right: 1.6rem;
  display: inline-flex;
  gap: 1rem;
}

.copied-text {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: hsl(127, 100%, 82%);
  padding-top: 0.2rem;
}

.copy-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
  cursor: pointer;
}

.copy-btn:hover img {
  filter: contrast(3.5);
}

/********************************************/
/*PASSWORD SETTINGS*/
/********************************************/

.password-settings {
  padding: 2.4rem 3.2rem 3.2rem;
  background-color: hsl(248, 10%, 15%);
}

/********************************************/
/*HEADERS/DIVIDERS/TAILS OPTIONS*/
/********************************************/

.hdt-grid {
  display: grid;
  grid-template-columns: 0.7fr 1fr 1fr 1fr;
  margin-bottom: 2rem;
  row-gap: 2rem;
  /* align-items: end; */
}

#title-char-pool {
  display: none;
}

.custom-cell {
  display: grid;

}

.checkbox-cell {
  display: flex;
  align-items: flex-start;
}

.char-pool-cell {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.block-label {
  margin: auto 0;
}

.block-label p {
  text-decoration: underline;
}

[type="text"] {
  background-color: #14131B;
  color: white;
  font-family: 'JetBrainsMono';
  border-color: #14131B;
}

.custom-field {
  width: 8rem;
}

/*************************/
/*CHROME*/

.char-length-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 28px;
  width: 28px;
  border: 2px solid hsl(252, 11%, 91%);
  border-radius: 50%;
  background-color: hsl(252, 11%, 91%);
  cursor: pointer;
}

.char-length-slider::-webkit-slider-thumb:hover {
  border: 2px solid hsl(127, 100%, 82%);
  background-color: hsl(248, 15%, 11%);
}

.char-length-slider::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

/*************************/
/*FIREFOX*/

.char-length-slider::-moz-range-thumb {
  -moz-appearance: none;
  height: 28px;
  width: 28px;
  border: 2px solid hsl(252, 11%, 91%);
  border-radius: 50%;
  background-color: hsl(252, 11%, 91%);
  cursor: pointer;
}

.char-length-slider::-moz-range-thumb:hover,
.char-length-slider::-moz-range-thumb:active {
  border: 2px solid hsl(127, 100%, 82%);
  background-color: hsl(248, 15%, 11%);
}


/********************************************/
/*CHECK BOXES*/

.case-and-inclusion {
  display: flex;
}

.wordlists-include-group, .case-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin-bottom: 3.4rem;
}

.case-group {
  flex-basis: 40%;
  margin-right: 2rem;
}

label {
  display: block;
  padding-left: 4.4rem;
  position: relative;
}

input[type=checkbox], input[type=radio] {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.custom-checkbox, .custom-radio {
  /* display: flex;
  align-items: center;
  justify-content: center; */

  position: absolute;
  top: 15%;
  left: 0;

  height: 2rem;
  width: 2rem;
  border: 2px solid hsl(252, 11%, 91%);
  cursor: pointer;
}

.custom-checkbox::after, .custom-radio::after {
  display: none;
  content: url('../assets/images/icon-check.svg');
  /* position: relative;
  top: -50%; */
  height: 0;
  width: 0;
  transform: scale(var(--trickyScale));
}

.custom-checkbox:hover, .custom-radio:hover {
  border-color: hsl(127, 100%, 82%);
}

.custom-radio {
  border-radius: 50%;
}

input[type=checkbox]:checked ~ .custom-checkbox,  
input[type=radio]:checked ~ .custom-radio {
  border-color: hsl(127, 100%, 82%);
  background-color: hsl(127, 100%, 82%);
}

input[type=checkbox]:checked ~ .custom-checkbox::after,
input[type=radio]:checked ~ .custom-radio::after {
  display: block;
}

input[type=checkbox]:focus ~ .custom-checkbox,
input[type=radio]:focus ~ .custom-radio {
  outline: 2px solid Highlight;
  outline: 2px solid -webkit-focus-ring-color;
}

/********************************************/
/*LEETRULES*/

.leetify {
  background-color: hsl(248, 15%, 11%);
}

#leetrules {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.leetify-settings {
  display: flex;
  padding: 2.4rem 3.2rem;
}

.leetrule-arrow {
  font-size: 2rem;
  color: white;
  font-family: 'JetBrainsMono';
}

.leetrule-close {
  width: 4rem;
  height: 4rem;
  border-radius: 0;
  background-color: #a3ffae;
  border-color: #a3ffae;
}

/********************************************/
/*PASSWORD STRENGTH*/

.strength-entropy-box {
  margin: 3.2rem 0 0 0;
  display: flex;
  padding: 2.4rem 3.2rem;
  background-color: hsl(248, 15%, 11%);
  /* height: 7.2rem; */
}

.entropy-box {
  margin-right: 1rem;
}

.entropy-text {
  font-size: 1.8rem; /*2.4rem*/
  color: hsl(252, 11%, 91%);
}

.strength-box, .entropy-box {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;

  font-size: 1.8rem;
  text-transform: uppercase;
  color: hsl(251, 9%, 53%);
}

.strength-rating {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.strength-rating-text {
  font-size: 1.8rem; /*2.4rem*/
  color: hsl(252, 11%, 91%);
}

.strength-rating-bars {
  display: flex;
  gap: 0.8rem;
}

.bar {
  width: 1rem;
  height: 2.8rem;
  border: 2px solid hsl(252, 11%, 91%);
  background: none;
}

/********************************************/
/*GENERATE BUTTON*/

.generate-btn, #leetrule-add {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.2rem;

  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: hsl(247, 11%, 15%);

  width: 100%;
  padding: 1.9rem 0;
  border: 2px solid hsl(127, 100%, 82%);
  background-color: hsl(127, 100%, 82%);
  cursor: pointer;
}

.generate-btn:hover, #leetrule-add:hover {
  color: hsl(127, 100%, 82%);
  background-color: hsl(247, 11%, 15%);
}

.generate-btn:hover path, #leetrule-add:hover path {
  fill: #a3ffae;
}

/********************************************/
/*FOOTER*/

footer {
  flex-grow: 0;
}

#attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 1em;
}

a:link, a:visited {
  color:hsl(127, 100%, 82%);
}